div.titlebanner {
  color: black;
  font-family: "American Typewriter", Helvetica, sans-serif;
  background-color: #edb001;
  border: 1px solid black;
  float: left;
  width: 80%;
}

div.navbar {
  float: left;
  width: 20%;
  min-height: 800px;
  overflow: hidden;
  background-color: #edb001;
}
