<div class="titlebanner"><h1>brewBuddy</h1></div>
<div class="navbar">
  <h1></h1>
  <nav>
    <h2 class="button"><a routerLink="" routerLinkActive="active">Home</a> </h2>
    <h2 class="button"><a routerLink="/timer" routerLinkActive="active">Timer</a></h2>
    <h2 class="button"><a routerLink="/user" routerLinkActive="active">User Profile</a></h2>
    <h2 class="button"><a routerLink="/signup" routerLinkActive="active">Sign up/Log in</a></h2>
    <h2 class="button"><a routerLink="/equations" routerLinkActive="active">Equations</a></h2>
  </nav>
</div>
<app-webframe></app-webframe>

<router-outlet></router-outlet>
<!-- <app-user></app-user>
<app-timer></app-timer> -->
