div.titlebanner {
  color: black;
  font-family: "American Typewriter", Helvetica, sans-serif;
  background-color: #64ed9d;
  border: 1px solid black;
  float: left;
  width: 100%;
}

div.userbanner{
    color: black;
    font-family: "American Typewriter", Helvetica, sans-serif;
    background-color: #64ed9d;
    float: right;
    width: 80%;
}

div.navbar {
  float: left;
  width: 20%;
  border: 1px solid black;
  border-top: none;
  min-height: 1800px;
  overflow: hidden;
  background-color: #64ed9d;
}

h2.button {
  border: 1px solid black;
  border-right: none;
  border-left: none;
}
