<div class="signup">
    {{login_info}}
    <form (submit)="addUser(newuser.value)">
    <div>
        <label for = "newuser">SIGN UP: Enter Desired Username:</label><br>
        <input type="text" #newuser>
    </div>
    </form>
    <br><br><br>

    <form (submit)="login(user.value)">
    <div>
        <label for = "user">LOG IN: Enter existing username:</label><br>
        <input type="text" #user>
    </div>
    </form>
    <br><br>
    <div>
    <button (click)="logout()">Log out</button>
    </div>

    <ul>
        <li *ngFor="let user of usernames; let i = index"> {{i+1}}: {{user}}
        </li>
    </ul>
</div>
