<div class="add_recipe">
    <h1>Add New Recipe</h1>

    <form>

        <div>
            <label for="name">Name: </label>
            <input type="string" #name>
        </div>
        <br>
        <div>
                <label for="F_V">Total Fermentation Volume (gal): </label>
                <input type="number" #F_V>
        </div>
        <br>
        <div>
                <label for="B_V">Total Boil Volume (gal): </label>
                <input type="number" #B_V>
        </div>
        <br>
        <div>
                <label for="ABV_target">Target ABV (%): </label>
                <input type="number" #ABV_target>
        </div>
        <br>
        <div>
        <button (click)="W_est(ABV_target.value, F_V.value)">Calculate Sugar</button>
         <p>You should add {{math.round(10*w_lme)/10}} lb LME</p>
        </div>



    </form>

</div>


<div class="recipe">
    
    
        <h2> Add Ingredient </h2>
        <form>
                <label for="t">Time (from end of boil):</label>
                <input type="number" #t>
        </form>
        <form>
                <label for="a">Amount:</label>
                <input type="number" #a>
        </form>
        <form>
                <label for="u">Units:</label>
                <input type="string" #u>
        </form>
        <form>
                <label for="alpha">Alpha Acid % (hops only):</label>
                <input type="number" #alpha>
        </form>
        <form>
                <label for="i">Identity:</label>
                <input type="string" #i>
        </form>
        <button (click)='addIngredient(t.value, a.value, u.value, i.value)'> Add It</button>
        <br>
        <br>

    <h2>Boil Additions</h2>
        <ul>
            <li *ngFor="let step of recipe; let i = index">{{i+1}}: {{step}}
            <button (click)="deleteStep(step)">Delete</button>
        </ul>
        <button (click) = 'deleteRecipe(t.value, a.value, u.value, i.value)'>Delete Recipe</button>
        <br><br>

</div>



<div class="timerapp">
  <h1>
    This is the timer:
  </h1>

  <button (click)='startTimerIfPaused()'>Start Time</button>
  <button (click)='pauseTimer()'> Pause</button>
  <br><br>
  <form (submit)="changeTime(t.value)">
      <div>
          <label for="t">Time:</label>
          <input type="number" #t>
      </div>
  </form>
  <br><br>
  <form>
          <label for="h">Hours:</label>
          <input type="number" #h>
  </form>
  <form>
          <label for="m">Minutes:</label>
          <input type="number" #m>
  </form>
  <form>
          <label for="s">Seconds:</label>
          <input type="number" #s>
  </form>
  <button (click)='changeTime2(h.value, m.value, s.value)'> Add Time</button>
  <p>{{hoursLeft}} Hours {{modMinutesLeft}} Minutes {{modSecondsLeft}} Seconds Left....</p>
</div>


<div class="steps">
    <h1> {{stepString}} </h1>
</div>







<div class="equations">

  <h2>Alcohol by Volume (ABV)</h2>

  <form>
      <div>
          <label for = "OG">Enter Original Gravity Measured:</label><br>
          <input type="number" #OG>
      </div>
  </form>
  <br>
  <form>
      <div>
          <label for = "FG">Enter Original Final Measured:</label><br>
          <input type="number" #FG>
      </div>
  </form>

      <br>
      <div>
      <button (click)="ABV_act(OG.value, FG.value)">Calculate</button>
      <p>The calculated ABV is {{alc_act}} %</p>
      <p>The hop utilization is  is {{util[1][1]}} %</p>
      </div>
  <br>


  <h2>International Bitterness Units (IBU)</h2>

  <form>
      <div>
          <label for = "W">Enter Weight of hop addition (grams):</label><br>
          <input type="number" #W>
      </div>
  </form>
  <br>
  <form>
      <div>
          <label for = "A">Enter Alpha Acid Content of hop addition (%):</label><br>
          <input type="number" #A>
      </div>
  </form>
  <br>
  <form>
      <div>
          <label for = "V">Enter Batch Volume (Liters):</label><br>
          <input type="number" #V>
      </div>
  </form>
  <br>
  <form>
      <div>
          <label for = "SG">Enter Specific gravity before boil (unitless):</label><br>
          <input type="number" #SG>
      </div>
  </form>
  <br>
  <form>
      <div>
          <label for = "time">Enter time of hop addition to the boil (minutes):</label><br>
          <input type="number" #time>
      </div>
  </form>
  <br>
  <div>
  <button (click)="IBU(W.value, A.value, V.value, time.value, SG.value)">Calculate</button>
  <p>The calculated IBU is {{ibu}}</p>
  </div>
  <br>




